$cyan-0: #3AE2BC;	// Main Primary color */
$cyan-1: #94F3DE;
$cyan-2: #62EACC;
$cyan-3: #16D6AB;
$cyan-4: #00C79B;

$green-0: #CBFB41;	// Main Secondary color (1) */
$green-1: #E4FD9A;
$green-2: #D6FC69;
$green-3: #C0F91A;
$green-4: #B8F700;

$purple-0: #6652E6;	// Main Secondary color (2) */
$purple-1: #ADA1F5;
$purple-2: #8575ED;
$purple-3: #4830DC;
$purple-4: #2C12CF;

$bluish-dark-grey: #35363a;
