$cyan-0: #3ae2bc;	// Main Primary color */
$cyan-1: #94f3de;
$cyan-2: #62eacc;
$cyan-3: #16d6ab;
$cyan-4: #00c79b;

$green-0: #cbfb41;	// Main Secondary color (1) */
$green-1: #e4fd9a;
$green-2: #d6fc69;
$green-3: #c0f91a;
$green-4: #b8f700;

$purple-0: #6652e6;	// Main Secondary color (2) */
$purple-1: #ada1f5;
$purple-2: #8575ed;
$purple-3: #4830dc;
$purple-4: #2c12cf;

$bluish-dark-grey: #35363a;

$theme-colors: (
  "primary": $cyan-1,
  "secondary": $green-1,
);
